In [2]:
print("hello",end=' ')
print("world")

hello world

In [4]:
print('mango','orange','banana')
print('mango','orange','banana',sep='=')

mango orange banana
mango=orange=banana

In [6]:
print('a'*2)
print('*' *3)

aa
***

In [1]:
a=10
b=20
print(a,b)

10 20

In [2]:
a=20
b=20.
c=.45
print(a,b,c,sep=' ')

20 20.0 0.45

In [3]:
print(2E10)

20000000000.0

In [4]:
a= True
b= False
print(a,b)

True False

In [5]:
subject = 'python'
print(subject)
print(subject[2])

python
t

In [9]:
a=20
b=20.
c=.45
print(a*b+c,sep=' ')
print(a-c)
#power we use double *
print(2**5)

400.45
19.55
32

In [11]:
a=6
b=3
#when we use single "/" than output data type is double or float
print(a/b)
#when we use single "//" than output data type is integer
print(a//b)

2.0
2

In [16]:
print((2+3)/5)

1.0